doctype html
nav
  ul
    li: a(href='/') Home
    li: a(href='/events') Events
    li: a(href='/sync') Sync Calendar
  style.
    nav {
      overflow: hidden;
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    nav ul li {
      float: left;
    }
    nav ul li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    nav ul li a:hover {
      color:blue;
      text-decoration: none;
    }
