header#header
  h2#site-name 
    a(href="/") SchoolEvents 
  nav#nav-bar
    ul
        li: a(href='/') Home
        li: a(href='/events') Events
        li: a(href='/sync') Sync Calendar
  div.header-buttons
    a(href='/events/add' class='btn-add') Add Event