header#header
  h2#site-name 
    a(href="/") PP&T Jewellry 
  nav#navbar
    ul
      each link in menu
        li 
          a(href=link.href) #{link.name}
      //- li: a(href="/about") About Us
      //- li: a(href="/services") Services
      //- li: a(href="/contact") Contact
      //- li: a(href="/gallery") Gallery