.App {
  text-align: center;
  width: 100%;
}

header, footer {
  padding: 1rem;
}

header{
  border-bottom: 2px solid black;
}

header h1{
  color:red;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  color: black;
  text-decoration: none;
}


.featured-products {
  padding: 2rem;
}
