extends common/layout

block layout-content 
  .main-content 
    h1.page-title Movie Mongoose
    each movie in movies
      div 
        h2 #{movie.title} 
        div Year: #{movie.year}
        div Rating: #{movie.rating}
        
    