extends common/layout

block layout-content 
  .main-content 
    h1.page-title Add New Event
    form(action="/add" method="POST")
      div
        label(for="name") Event Name:
        input(type="text" name="name" required)
      div
        label(for="date") Event Date:
        input(type="date" name="date" required)
      div
        label(for="type") Event Type:
        input(type="text" name="type" required)
      div
        label(for="description") Event Description:
        textarea(name="description" required)
      div
        button(type="submit") Add Event
