extends common/layout 

block layout-content 
    .main-content 
        h1.page-title Welcome to your fantanstic juewellry gallery
        img(src="imgs/istockphoto-968936216-1024x1024.jpg",alt="ring model image") 
        p Check our 2024 Summer Specical out!!